<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.jpeg" %>
	</div>

	<div id="content">
		<h1>Hello, My name is Dino Garić</h1>
		<p>This is my blog page.</p>
		<p>In this blog i will be writing my story's and my activity's, that are work reading about.</p>
		<p>I am also planning to create a twitter accout so i can keep you updated when there is a new post </p>
		<p> twitter™(comming soon™)</p>
	</div>
</div>